ul {
    list-style: none;
}

.bg-green{
    height: 20vh;
    background-color: rgb(65,147,136);
}

.bg-grey{
    height: 80vh;
    background-color: rgb(216,219,214);
}

.fas {
    color: rgb(177, 177, 177);
    font-size: 22px;
}

.container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.avatar-img {
    width: 50px;
    border-radius: 50%;
}

.user-name {
    background-color: rgb(234, 234, 234);
}

.col-8 {
    border-left: 1px solid rgb(177, 177, 177);
}

.icon-user-name .fas {
    padding-left: 8px;
    padding-right: 8px;
}

.notification {
    background-color: rgb(159, 216, 248);
}

.text-notification {
    text-decoration: underline;
    color: rgb(87, 115, 131);
}

.bell-circle {
    width: 50px;
    border-radius: 50%;
    background-color: rgb(244, 251, 254);
}

.bell-circle .fas {
    color: rgb(159, 216, 248);
}

.search-bar{
    width: 97%;
    border: 1px solid rgb(245,245,245);
    background-color: white;
    border-radius: 5px;
    
}

.search-chat-input {
    width: 70%;
    border: none;
}

.user-list{
    background-color: rgb(245,245,245);
    height:442px;
}

.user-slot{
    border-bottom: 1px solid rgb(245,245,245);
    background-color: white;
}

.last-access{
    font-size: small;
    color: rgb(87, 115, 131);
}

.message-section {
    background-image: url(../img/mine.jpg);
    height: 450px;
}

.message-bar{
    background-color: rgb(242,238,234);
}

.messagge-bar-input{
    width: 80%;
    border: none;
    border-radius: 10px;
}

.fa-microphone , .fa-smile{
    font-size: 30px;
    color: rgb(108,115,118);
}