ul {
    list-style: none;
}

.fas {
    color: rgb(177, 177, 177);
    font-size: 22px;
}

.container {
    border: 1px solid black;
}

.avatar-img {
    width: 50px;
    border-radius: 50%;
}

.user-name {
    background-color: rgb(234, 234, 234);
}

.col-8 {
    border-left: 1px solid rgb(177, 177, 177);
}

.icon-user-name .fas {
    padding-left: 8px;
    padding-right: 8px;
}

.notification {
    background-color: rgb(159, 216, 248);
}

.text-notification {
    text-decoration: underline;
    color: rgb(87, 115, 131);
}

.bell-circle {
    width: 50px;
    border-radius: 50%;
    background-color: rgb(244, 251, 254);
}

.bell-circle .fas {
    color: rgb(159, 216, 248);
}

.search-bar{
    width: 97%;
    border: 1px solid rgb(245,245,245);
    background-color: white;
    border-radius: 5px;
    
}

.search-chat-input {
    width: 70%;
    border: none;
}

.user-list{
    background-color: rgb(245,245,245)
    height:400px;
}

.user-slot{
    border-bottom: 1px solid rgb(245,245,245);
    background-color: white;
}

.last-access{
    font-size: small;
    color: rgb(87, 115, 131);
}

.message-section {
    background-color: darksalmon;
    height: 500px;
}