<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="bg-green">
            <div class="container pt-3">
                <div class="row">

                    <!-- parte SINISTRA -->
                    <div class="col-4 px-0">

                        <!-- sezione nome utente -->
                        <div class="user-name d-flex justify-content-between p-2">
                            <div>
                                <img class="avatar-img" src="./img/avatar_7.jpg" alt="">
                                <span class="fw-bold">Gianluca</span>
                            </div>
                            <div class="icon-user-name d-flex align-items-center">
                                <i class="fas fa-circle-notch "></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>

                        <!-- sezione attiva notifiche -->
                        <div class="notification d-flex p-3">
                            <div class="bell-circle d-flex justify-content-center align-items-center">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                            <div class="ps-2">
                                <div class="fw-bold">Ricevi notifiche di nuovi messaggi</div>
                                <div class="text-notification">Attiva notifiche desktop</div>
                            </div>
                        </div>

                        <!-- lista dinamicizzata di contatti -->
                        <div class="user-list overflow-auto pt-2">
                            <div class="search-bar mx-1 p-2">
                                <i class="fas fa-search px-2"></i>
                                <input class="search-chat-input" type="text"
                                    placeholder="Cerca o inizia una nuova chat">
                            </div>
                            <ul class="px-0 pe-3 pt-2">
                                <li class="user-slot ps-2 py-2 fw-bold" v-for="(user,index) in contacts" @click="move(index)">
                                    <img class="avatar-img" :src="'./img/avatar' + user.avatar + '.jpg'" alt="">
                                    {{user.name}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- sezione DESTRA -->
                    <div class="col-8 px-0">

                        <!-- sezione nome chat -->
                        <div class="user-name d-flex justify-content-between py-2 px-2">
                            <div class="d-flex">
                                <img class="avatar-img" :src="'./img/avatar' + contacts[chatIndex].avatar + '.jpg'" alt="">
                                <div class="ps-2">
                                    <div class="fw-bold">{{contacts[chatIndex].name}}</div>
                                    <div class="last-access">Ultimo accesso oggi alle {{getLastAccess()}}</div>
                                </div>
                            </div>
                            <div class="icon-user-name d-flex align-items-center">
                                <i class="fas fa-circle-notch "></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>

                        <!-- sezione chat con messaggi -->
                        <div class="message-section overflow-auto d-flex flex-column justify-content-end">
                            <div :class="checkStatus(item.status)" v-for="(item,index) in contacts[chatIndex].messages">
                                {{item.text}}
                                <div class="message-date">{{item.date}}</div>
                            </div>
                        </div>

                        <!-- sezione barra inserimento messaggi -->
                        <div class="message-bar py-2 d-flex justify-content-around align-items-center">
                            <i class="far fa-smile"></i>
                            <input 
                            class="messagge-bar-input p-3 ps-4" 
                            v-model="newMessage" 
                            @keyup.enter="addText" 
                            type="text" 
                            placeholder="Scrivi un messaggio">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-grey">
        </div>

    </div>

    <script src="./js/scrypt.js"></script>
</body>

</html>